html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: whitesmoke;

}

body {
    font-size: 75%;
    display: grid;
    background-color: whitesmoke;
    grid-template-rows: 0.75fr 2fr 2fr 0.1fr;
    grid-template-columns: 0.75fr repeat(3, 1fr);
    gap: 3px;
    overflow: hidden;
}

h5, h4, p {
    margin: 0cm;
    /* size: 50px; */
}

/* main structure style: only contains the styling for the foundation of the site's style*/

.header {
    background-color: whitesmoke;
    grid-area: 1/2/2/5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding drop shadow */
    transition: transform 0.3s, box-shadow 0.3s;
}

.message-board-body {
    background-color: rgb(203, 218, 223);
    grid-area: 2/2/4/5;
    /*border-radius: 10px;*/
}

.side-bar {
    background-color: rgb(138, 138, 248);
    grid-area: 1/1/4/2;
}

.footer {
    background-color: whitesmoke;
    grid-area: 4/1/5/5;
    text-align: center;
}
ul {
    list-style-type: none;
}

/* header styling: only contains the styling for the header */

.header {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    height: 125px;
    padding-top: 7px;
    padding-left: 7px;
}

.search-bar-container {
    grid-area: 1/1/2/2;
    display: flex;
    width: 500px;
    margin-top: 10px;
}

#search-box {
    justify-content: center;
    width: 80%;
    border-radius: 15px;
}

.greeting-card {
    grid-area: 2/1/3/2;
    display: flex;
    margin-bottom: 10px;
}

.header-info {
    grid-area: 1/2/2/3;
    margin-left: 20px;
}

.header-buttons-container {
    color: white;
    grid-area: 2/2/3/3;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 20px;
}

.header-icon {
    height: 17px;
    width: auto;
    padding-right: 5px;   
}

.header-button {
    flex: 1;                   /* All items take up equal space */
    padding: 5px;
    background-color: rgb(97, 97, 199);
    text-align: center;        /* Center text horizontally */
    display: flex;             /* Set flex on the item itself */
    justify-content: center;   /* Center text horizontally (again) */
    align-items: center;       /* Center text vertically */
    height: 20px;              /* Ensure consistent height */
    margin-right: 10px;  
    border-radius: 15px;
    box-shadow: 3px;         
}

.usertag-avatar {
    justify-content: left;
    height: 60px;
    width: 60px;
    border-radius: 45px;
}

.user-greeting {
    justify-content: right;
    margin-left: 15px;
    font-size: 115%;
}

.header-info {
    display: flex;
    flex-wrap: nowrap;
}

.greeting-userName {
    font-size: 165%;
}

.notification-bell {
    zoom: 110%;
    margin-top: 0.6em;
    margin-right: 0.6em;
}

.header-avatar {
    zoom: 60%;
}

.header-userName {
    font-size: 135%;
    margin-left: 0.6em;
    margin-top: 0.5em;
}


/* SideBar Styling: only contains the styling for the items inside the sidebar*/

.sidebar-container {
    background-color: rgb(97, 97, 199);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.25fr 1.5fr 1fr 1fr;
    gap: 2px;
}

.sidebar-container * {
    color: white;
}

.sidebar-logo {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    height: 25px;
    width: auto;
    margin-top: 7px;
    margin-left: 7px;
}

.sidebar-logo-text {
    font-size: 20px;
}

.sidebar-logo-img {
    filter: invert(1);
    height: 25px;
    width: auto;
}

.sidebar-home {
    grid-area: 2/1/3/2;
    /* background-color: rgb(114, 168, 168); */
}

.sidebar-settings {
    grid-area: 3/1/4/2;
    /* background-color: rgb(114, 168, 168); */
}

.home-list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding-left: 15px;
}

.setting-list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding-left: 15px;
}

.side-bar-button {
    display: flex;
    align-items: center;   
}

.sidebar-icon {
    filter: invert(1);
    height: 17px;
    width: auto;
    padding-bottom: 3px;
    padding-right: 5px;
}


/* message board styling */

.message-board-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding-top: 10px;
    padding-left: 10px;

}

.your-projects-container {
    grid-area: 1/1/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.20fr repeat(3, 1fr);
    gap: 10px;
    height:425px;
}

.yourProjects {
    grid-area: 1/1/2/3;
}

.yourProjects h5 {
    display: flex;
    justify-content: left;
    font-size: 125%;
    padding: 5px;
}

.project-card {
    background-color: rgb(252, 244, 235);
    border-radius: 15px;
    padding-left: 10px;
    border-left-style: solid;
    border-width: 5px;
    border-color: rgb(252, 185, 99);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding drop shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    grid-template-rows: 0.15fr 1fr 0.25fr;
}
.project-card h4 {
    grid-area: 1/1/2/4;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    width: fit-content;

}

.project-card p {
    grid-area: 2/1/3/4;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    width: fit-content;
}

.icon-container {
    grid-area: 3/3/4/4;
    display: flex;
    flex-wrap: nowrap;
    height: 17px;
    gap: 7px;
    justify-content: center;
}

.project-interaction-icons {
    height: 17px;
    width: 17px;
}

.announcements-body {
    grid-area: 1/3/2/4;
}

.trending-container {
    grid-area: 2/3/3/4;
}

/* footer styling */